graft src
graft tests
graft docs
prune docs/build

include README.md
include LICENSE

include .coveragerc
include .flake8
include tox.ini
include *.md
include *.txt
include *.yaml
include Makefile

recursive-exclude * __pycache__ *.py[cod]
